# Sử dụng Python để ETL dữ liệu

## 1. Kết nối cơ sở dữ liệu MySQL với python

In [1]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
db = mysql.connector.connect(host="localhost",    # your host, usually localhost
                     user="root",         # your username
                     passwd="dai.nv195847",  # your password
                     db="project2_db")        # name of the data base

In [3]:
# In ra danh sách các bảng có trong cơ sở dữ liệu để tiện cho việc extract data từ bảng
list_table = pd.read_sql("show tables", db)
list_table

  Tables_in_project2_db
0             customers
1          geolocations
2         order_details
3           order_items
4        order_payments
5         order_reviews
6   product_translation
7              products
8               sellers

## Demo Extract data

In [2]:
data_customer = pd.read_csv('Data/olist_customers_dataset.csv')
data_geolocation = pd.read_csv('Data/olist_geolocation_dataset.csv')
data_orderItems = pd.read_csv('Data/olist_order_items_dataset.csv')
data_orderPayment = pd.read_csv('Data/olist_order_payments_dataset.csv')
data_orderReview = pd.read_csv('Data/olist_order_reviews_dataset.csv')
data_order = pd.read_csv('Data/olist_orders_dataset.csv')
data_products = pd.read_csv('Data/olist_products_dataset.csv')
data_seller = pd.read_csv('Data/olist_sellers_dataset.csv')
data_product_translation = pd.read_csv('Data/product_category_name_translation.csv')

data_product_byHand = pd.read_excel('Data/productLine_byHand.xlsx')

## Làm sạch data + chuẩn hóa data

In [3]:
data_customer.drop_duplicates(subset="customer_id", inplace=True)
data_orderPayment.drop_duplicates(subset="order_id", inplace=True)
data_orderReview.drop_duplicates(subset=["order_id", "review_id"], inplace=True)
data_order.drop_duplicates(subset="order_id", inplace=True)
data_products.drop_duplicates(subset="product_id", inplace=True)
data_seller.drop_duplicates(subset="seller_id", inplace=True)

## Tạo các bảng Dimension

### 1. Dim_payments

In [4]:
dim_payments = pd.DataFrame(data_orderPayment[['order_id', 'payment_type', 'payment_installments']])

# Nhóm hình thức trả góp
pay_ins_type = []
for payment_installment in dim_payments["payment_installments"]:
    if payment_installment == 1:
        pay_ins_type.append("one-short")
    elif payment_installment <= 6:
        pay_ins_type.append("short-term")
    elif payment_installment <= 12:
        pay_ins_type.append("mid-term")
    else:
        pay_ins_type.append("long-term")
dim_payments["pay_ins_type"] = pay_ins_type

dim_payments.drop('payment_installments', axis=1, inplace=True)
dim_payments.duplicated(subset='order_id')
dim_payments

                                order_id payment_type pay_ins_type
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card     mid-term
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card    one-short
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card    one-short
3       ba78997921bbcdc1373bb41e913ab953  credit_card     mid-term
4       42fdf880ba16b47b59251dd489d4441a  credit_card   short-term
...                                  ...          ...          ...
103881  0406037ad97740d563a178ecc7a2075c       boleto    one-short
103882  7b905861d7c825891d6347454ea7863f  credit_card   short-term
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card    one-short
103884  b8b61059626efa996a60be9bb9320e10  credit_card   short-term
103885  28bbae6599b09d39ca406b747b6632b1       boleto    one-short

[99440 rows x 3 columns]

### 2. Dim product

In [5]:
data_product_translation_add_productLine = pd.merge(data_product_translation, data_product_byHand, how='left', on='product_category_name_english')
dim_product = pd.merge(data_products[["product_id", "product_category_name", "product_length_cm","product_height_cm", "product_width_cm"]], data_product_translation_add_productLine[['product_category_name', 'product_category_name_english', 'product_line']], how='left', on='product_category_name')
dim_product.drop(["product_category_name"], axis=1, inplace=True)
dim_product.rename(columns={"product_category_name_english" : "product_name"}, inplace=True)

dim_product["volume"] = dim_product['product_length_cm'] * dim_product['product_height_cm'] * dim_product['product_width_cm']
product_size = []
for volume in dim_product['volume']:
    if volume < 1000:
        product_size.append('small')
    elif volume < 5000:
        product_size.append('middle')
    elif volume < 20000:
        product_size.append('big')
    else:
        product_size.append('very big')
dim_product['product_size'] = product_size

dim_product.drop(['product_length_cm', 'product_height_cm', 'product_width_cm', 'volume'], axis=1, inplace=True)
dim_product.duplicated(subset='product_id')
dim_product

,product_id,product_name,product_line,product_size
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,cosmetic,middle
1,3aa071139cb16b67ca9e5dea641aaa2f,art,Handmade,big
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,Health care,middle
3,cef67bcfe19066a932b7673e239eb23d,baby,Handmade,middle
4,9dc1a7de274444849c219cff195d0b71,housewares,household appliances,middle
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,household appliances,very big
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,construction,middle
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,household appliances,big
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,"Technology, electronics",big
32950,106392145fca363410d287a815be6de4,bed_bath_table,household appliances,small

### 3. Dim_review_score

In [6]:
Dim_review_score = pd.DataFrame(data_orderReview['review_score']).drop_duplicates(subset=['review_score'])
Dim_review_score.sort_values(by='review_score', inplace=True)
Dim_review_score

    review_score
5              1
16             2
14             3
0              4
1              5

### 4. Dim_sellers

In [7]:
Dim_seller = pd.DataFrame(data_seller[["seller_id", "seller_city", "seller_state"]])
Dim_seller.drop_duplicates(subset=["seller_id"], inplace=True)
Dim_seller

                             seller_id        seller_city seller_state
0     3442f8959a84dea7ee197c632cb2df15           campinas           SP
1     d1b65fc7debc3361ea86b5f14c68d2e2         mogi guacu           SP
2     ce3ad9de960102d0677a81f5d0bb7b2d     rio de janeiro           RJ
3     c0f3eea2e14555b6faeea3dd58c1b1c3          sao paulo           SP
4     51a04a8a6bdcb23deccc82b0b80742cf  braganca paulista           SP
...                                ...                ...          ...
3090  98dddbc4601dd4443ca174359b237166            sarandi           PR
3091  f8201cab383e484733266d1906e2fdfa            palhoca           SC
3092  74871d19219c7d518d0090283e03c137          sao paulo           SP
3093  e603cf3fec55f8697c9059638d6c8eb5            pelotas           RS
3094  9e25199f6ef7e7c347120ff175652c3b            taubate           SP

[3095 rows x 3 columns]

### 5. Dim_customer

In [8]:
Dim_customer = pd.DataFrame(data_customer[["customer_id", "customer_city", "customer_state"]])
Dim_customer.drop_duplicates(subset=["customer_id"], inplace=True)
Dim_customer

                            customer_id    customer_city customer_state
0      7ae2a9337aa4bc799723511faa1d6830        sao paulo             SP
1      a09edf8c1e842e94805a206b3d73eed5        sao paulo             SP
2      ee9b73e88afb4904ee2322cfc89cf638        sao paulo             SP
3      5a8b64ee6ccdae09ea823e6aa00e9517        sao paulo             SP
4      6ec2b4682814cfdac8d92bad42b3ddab        sao paulo             SP
...                                 ...              ...            ...
99436  235702411e5214f0e4a0761bf5ce9e99       agua santa             RS
99437  3ab8bc00f8740d54afc4c771fb6c7f69          ciriaco             RS
99438  964b34423c822e9bd9831635ccc83db2  david canabarro             RS
99439  657ba09c6edfbbc09f6054f541ec1f90  david canabarro             RS
99440  f04c3f6e20a2a4318d97d7cec1d27bbf        muliterno             RS

[99441 rows x 3 columns]

### 6. Dim_date

In [9]:
Dim_date = pd.DataFrame(pd.date_range(start='1/1/2016', end='12/31/2018', name="date_id"))
Dim_date['day'] = Dim_date["date_id"].dt.day
Dim_date['month'] = Dim_date["date_id"].dt.month
Dim_date['quarter'] = Dim_date["date_id"].dt.quarter
Dim_date['year'] = Dim_date["date_id"].dt.year
Dim_date

        date_id  day  month  quarter  year
0    2016-01-01    1      1        1  2016
1    2016-01-02    2      1        1  2016
2    2016-01-03    3      1        1  2016
3    2016-01-04    4      1        1  2016
4    2016-01-05    5      1        1  2016
...         ...  ...    ...      ...   ...
1091 2018-12-27   27     12        4  2018
1092 2018-12-28   28     12        4  2018
1093 2018-12-29   29     12        4  2018
1094 2018-12-30   30     12        4  2018
1095 2018-12-31   31     12        4  2018

[1096 rows x 5 columns]

### 7. Dim_order_status

In [10]:
Dim_orderStatus = pd.DataFrame(data_order["order_status"])
Dim_orderStatus.drop_duplicates(subset=["order_status"], inplace=True)
Dim_orderStatus.reset_index(drop=True, inplace=True)
Dim_orderStatus

  order_status
0    delivered
1     invoiced
2      shipped
3   processing
4  unavailable
5     canceled
6      created
7     approved

### 8. Fact_sales

In [22]:
Fact_sales = pd.merge(data_orderItems, data_orderPayment[["order_id", "payment_type", "payment_installments"]], how='left', on="order_id")
Fact_sales = pd.merge(Fact_sales, data_order[["order_id", "customer_id"]], how='left', on="order_id")

Fact_sales.drop(["order_item_id", "freight_value", "payment_installments", "payment_type"], inplace=True, axis=1)
Fact_sales.rename(columns={"shipping_limit_date" : "dateTimes", "price" : "sales"}, inplace=True)
Fact_sales['dateTimes'] = pd.to_datetime(Fact_sales['dateTimes']).dt.normalize()

Fact_sales = Fact_sales[Fact_sales['dateTimes'] <= pd.to_datetime('2018-12-31')]
Fact_sales['sales_id'] = Fact_sales.index + 1

cols = list(Fact_sales.columns.values)
cols.pop(cols.index("customer_id"))
cols.pop(cols.index("sales_id"))

cols.insert(0, "sales_id")
cols.insert(3, "customer_id")
Fact_sales = Fact_sales[cols]

In [23]:
Fact_sales.head(3)

,sales_id,order_id,product_id,customer_id,seller_id,dateTimes,sales
0,1,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,3ce436f183e68e07877b285a838db11a,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9
1,2,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,f6dd3ec061db4e3987629fe6b26e5cce,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.9
2,3,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,6489ae5e4333f3693df5ad4372dab6d3,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.0

### 9. Fact_orders

In [24]:
Fact_orders = pd.merge(data_order, data_orderReview[["order_id", "review_score"]], how='left', on="order_id")
Fact_orders.drop(["order_estimated_delivery_date","order_approved_at","order_delivered_carrier_date"], axis=1, inplace=True)
Fact_orders.rename(columns={"order_purchase_timestamp" : "orderDate", "order_delivered_customer_date": "deliveryDate"}, inplace=True)
Fact_orders['deliveryTime'] = pd.to_datetime(Fact_orders['deliveryDate']) - pd.to_datetime(Fact_orders['orderDate'])
Fact_orders['deliveryTime'] = Fact_orders['deliveryTime'].dt.days
Fact_orders.drop(["deliveryDate"], axis=1, inplace=True)
Fact_orders['orderDate'] = pd.to_datetime(Fact_orders['orderDate']).dt.normalize()
Fact_orders.drop_duplicates(subset=["order_id"], inplace=True)

In [25]:
Fact_orders.head(3)

,order_id,customer_id,order_status,orderDate,review_score,deliveryTime
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,4.0,8.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,4.0,13.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,5.0,9.0

## Insert data into MySQL

In [198]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:dai.nv195847@localhost:3306/olap_project2', echo=False)

In [ ]:
Dim_customer.to_sql("dim_customer", con=engine, if_exists= 'append', index=False)
Dim_date.to_sql("dim_date", con=engine, if_exists= 'append', index=False)
Dim_orderStatus.to_sql("dim_order_status", con=engine, if_exists= 'append', index=False)
dim_payments.to_sql("dim_payments", con=engine, if_exists= 'append', index=False)
dim_product.to_sql("dim_product", con=engine, if_exists= 'append', index=False)
Dim_review_score.to_sql("dim_review_score", con=engine, if_exists= 'append', index=False)

Dim_seller.to_sql("dim_seller", con=engine, if_exists= 'append', index=False)
Fact_orders.to_sql("fact_orders", con=engine, if_exists= 'append', index=False)
Fact_sales.to_sql("fact_sales", con=engine, if_exists= 'append', index=False)